.Footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dadadf;
    position: sticky;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
.Icons a {
    margin: 0 10px;
    color: #555555;
    transition: color ease-in-out 0.3s;
  }
  
.Icons a:hover {
    color: #2142b2;
  }
  
.fab {
    font-size: 1.8rem;
  }
  
  /* Media query for larger screens - you can adjust the min-width as needed */
@media (min-width: 768px) { /* This assumes 768px is your breakpoint for larger screens */
  .Footer {
    position: fixed; /* Fixed position for larger screens */
    z-index: 10;
  }
}
